name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Install backend dependencies
        run: |
          npm install
      - name: Install frontend dependencies
        run: |
          cd phonebook-CICD/phonebook
          npm install
      - name: Lint
        run: |
          cd phonebook-CICD
          npm run lint
      - name: Build
        run: |
          cd phonebook-CICD/phonebook
          npm run build
